<a href="https://colab.research.google.com/github/Renato-Rsprojetos3D/Machine-Learning-Data-Sciences/blob/master/EDA_Tabela_Fip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://media2.giphy.com/media/pUeXcg80cO8I8/giphy.gif?cid=ecf05e47e2998deecf9d614c58f3c36c533943dc4747b7e8&rid=giphy.gif)
# Importando as bibliotecas necessarias

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
pd.set_option('display.max_rows', 3000)
import numpy as np
import matplotlib.pyplot as plt
import re

![alt text](https://media.giphy.com/media/OiC5BKaPVLl60/giphy.gif)
# Carregandos os Dados e Visualizando

In [3]:
data = pd.read_csv('/content/drive/My Drive/fipe_Jun2018.csv', encoding="UTF-8")

# Visualizando os Dados
data.head()

   Unnamed: 0  brand         vehicle  ...      fuel price_reference         price
0           1  Acura  Legend 3.2/3.5  ...  Gasoline   junho de 2018  R$ 27.942,00
1           2  Acura  Legend 3.2/3.5  ...  Gasoline   junho de 2018  R$ 23.392,00
2           3  Acura  Legend 3.2/3.5  ...  Gasoline   junho de 2018  R$ 22.682,00
3           4  Acura  Legend 3.2/3.5  ...  Gasoline   junho de 2018  R$ 20.648,00
4           5  Acura  Legend 3.2/3.5  ...  Gasoline   junho de 2018  R$ 18.343,00

[5 rows x 7 columns]

![alt text](https://media.giphy.com/media/l3q2TxmRrcW1PBcmk/giphy.gif)

# Vou começar a preparação dos Dados

#### Após visualizar os dados é possivel perceber que as colunas " 	Unnamed: 0 e price_refence " não serão necessarias por isso vou remover essas colunas

In [4]:
# Removendo as coluunas " Unnamed: 0  e price_reference "
data.drop(["Unnamed: 0","price_reference"], axis =1, inplace= True)

#Visualizando o resultado
data.head()

   brand         vehicle  year_model      fuel         price
0  Acura  Legend 3.2/3.5        1998  Gasoline  R$ 27.942,00
1  Acura  Legend 3.2/3.5        1997  Gasoline  R$ 23.392,00
2  Acura  Legend 3.2/3.5        1996  Gasoline  R$ 22.682,00
3  Acura  Legend 3.2/3.5        1995  Gasoline  R$ 20.648,00
4  Acura  Legend 3.2/3.5        1994  Gasoline  R$ 18.343,00

#### Vou também renomear todos nomes das colunas alterando para o idioma português

In [5]:
# Renomeando os nomes das colunas
data.columns = ["Marca",'Carro','Ano_Modelo','Combustivel','Preco']

# Visualizando o resultado
data.head()

   Marca           Carro  Ano_Modelo Combustivel         Preco
0  Acura  Legend 3.2/3.5        1998    Gasoline  R$ 27.942,00
1  Acura  Legend 3.2/3.5        1997    Gasoline  R$ 23.392,00
2  Acura  Legend 3.2/3.5        1996    Gasoline  R$ 22.682,00
3  Acura  Legend 3.2/3.5        1995    Gasoline  R$ 20.648,00
4  Acura  Legend 3.2/3.5        1994    Gasoline  R$ 18.343,00

#### Vou começar visualizando os valores unicos da coluna " Ano_Modelo "

In [6]:
# Obtendo os valores unicos da coluna Ano_Modelo
data.Ano_Modelo.unique()

array([ 1998,  1997,  1996,  1995,  1994,  1993,  1992,  1991,  2007,
        2006,  2005,  2004,  2015,  2014,  2013,  2012,  2011,  2010,
        2009,  2008, 32000,  2018,  2017,  2016,  1999,  2003,  2002,
        2001,  2000,  1986,  1985,  1990,  1987,  1989,  1988,  2019])

#### Após a visualização pude ver que existe um valor de " 32000 " que refere-se a todos os carros que são zero km, por isso vou alterar esse valor para ficar de acordo

In [7]:
# Filtrando valores iguais " 32000 " na coluna Ano_Modelo e substituindo esses valores para " Zero Km"
data.loc[data.Ano_Modelo == 32000 , 'Ano_Modelo'] = 'Zero KM'

# Visualizando o resultado
data.Ano_Modelo.unique()

array([1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 2007, 2006, 2005,
       2004, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 'Zero KM',
       2018, 2017, 2016, 1999, 2003, 2002, 2001, 2000, 1986, 1985, 1990,
       1987, 1989, 1988, 2019], dtype=object)

In [8]:
# Obtendo infromação dos tipos dos dados 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21797 entries, 0 to 21796
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Marca        21797 non-null  object
 1   Carro        21797 non-null  object
 2   Ano_Modelo   21797 non-null  object
 3   Combustivel  21797 non-null  object
 4   Preco        21797 non-null  object
dtypes: object(5)
memory usage: 851.6+ KB

#### Após verficar o tipo dos dados pude ver que a coluna " Preco " é do tipo object , para fazer um previsão de preco de novos carros preciso converter essa coluna para valores numericos , para fazer isso vou precisar remover "R$" dela , senão a conversão não sera entendida pelo pandas.

In [9]:
data['Preco'] = [re.sub("R\\$|\\.| ", "" , x) for x in data.Preco]

# Visualizando o resultado
data.head()

   Marca           Carro Ano_Modelo Combustivel     Preco
0  Acura  Legend 3.2/3.5       1998    Gasoline  27942,00
1  Acura  Legend 3.2/3.5       1997    Gasoline  23392,00
2  Acura  Legend 3.2/3.5       1996    Gasoline  22682,00
3  Acura  Legend 3.2/3.5       1995    Gasoline  20648,00
4  Acura  Legend 3.2/3.5       1994    Gasoline  18343,00

In [10]:
# Vou remover ,00 também da coluna " Preco "

data['Preco']  = [re.sub("\\,00","", x) for x in data.Preco]

# Visualizando o resultado
data.head()

   Marca           Carro Ano_Modelo Combustivel  Preco
0  Acura  Legend 3.2/3.5       1998    Gasoline  27942
1  Acura  Legend 3.2/3.5       1997    Gasoline  23392
2  Acura  Legend 3.2/3.5       1996    Gasoline  22682
3  Acura  Legend 3.2/3.5       1995    Gasoline  20648
4  Acura  Legend 3.2/3.5       1994    Gasoline  18343

![alt text](https://media.giphy.com/media/3orif7P2tOrEeO6zIs/giphy.gif)
# Feature Engineering ( Extração de novas colunas )

#### A coluna carro possui algumas informações que podem ser usadas para criar novas colunas e assim aumentar a perfomance dos algoritimos de machine learning , e é isso que farei daqui para frente

In [11]:
# Visualizando as 30 primeiras linhas
data.Carro.head(30)

0                       Legend 3.2/3.5
1                       Legend 3.2/3.5
2                       Legend 3.2/3.5
3                       Legend 3.2/3.5
4                       Legend 3.2/3.5
5                       Legend 3.2/3.5
6                       Legend 3.2/3.5
7                       Legend 3.2/3.5
8                              NSX 3.0
9                              NSX 3.0
10                             NSX 3.0
11                             NSX 3.0
12                             NSX 3.0
13     MARRUÁ 2.8 12V 132cv TDI Diesel
14     MARRUÁ 2.8 12V 132cv TDI Diesel
15     MARRUÁ 2.8 12V 132cv TDI Diesel
16     MARRUÁ 2.8 12V 132cv TDI Diesel
17    MARRUÁ AM 100 2.8  CS TDI Diesel
18    MARRUÁ AM 100 2.8  CS TDI Diesel
19    MARRUÁ AM 100 2.8  CS TDI Diesel
20    MARRUÁ AM 100 2.8  CS TDI Diesel
21    MARRUÁ AM 100 2.8  CS TDI Diesel
22    MARRUÁ AM 100 2.8  CS TDI Diesel
23    MARRUÁ AM 100 2.8  CS TDI Diesel
24    MARRUÁ AM 100 2.8  CS TDI Diesel
25     MARRUÁ AM 100 2.8 CD TDI Diesel
26     MARRUÁ AM 100 2.8 CD TDI Diesel
27     MARRUÁ AM 100 2.8 CD TDI Diesel
28     MARRUÁ AM 100 2.8 CD TDI Diesel
29     MARRUÁ AM 100 2.8 CD TDI Diesel
Name: Carro, dtype: object

#### Primeira coisa que vou extrair é nome , acredito que ele possa ser uma boa feature, pois quando falamos de carros somente pelo nome sabemos se ele é bom ou ruim , e consequentemente o nome deve estar atrelado ao preço

In [12]:
# new data frame with split value columns  
nome = data["Carro"].str.split(" ", n = 1, expand = True)  
    
# making seperate first name column from new data frame  
data["Nome_Carro"]= nome[0]  

# Visualizando o resulatdo
data.head()

   Marca           Carro Ano_Modelo Combustivel  Preco Nome_Carro
0  Acura  Legend 3.2/3.5       1998    Gasoline  27942     Legend
1  Acura  Legend 3.2/3.5       1997    Gasoline  23392     Legend
2  Acura  Legend 3.2/3.5       1996    Gasoline  22682     Legend
3  Acura  Legend 3.2/3.5       1995    Gasoline  20648     Legend
4  Acura  Legend 3.2/3.5       1994    Gasoline  18343     Legend

#### Agora vou extrair as Cilindradas do motor, pois também acredito que irá influenciar preco do carro

In [13]:
# Criando a coluna cilindradas através da extração do padrão ("\d\.\d") que irá selecionar qualquer digito seguido de um ponto e outro qualquer digito
data['Cilindradas'] = data.Carro.str.extract("(\d\.\d)", expand=True)

# Visualizando o resulatdo
data.head()

   Marca           Carro Ano_Modelo Combustivel  Preco Nome_Carro Cilindradas
0  Acura  Legend 3.2/3.5       1998    Gasoline  27942     Legend         3.2
1  Acura  Legend 3.2/3.5       1997    Gasoline  23392     Legend         3.2
2  Acura  Legend 3.2/3.5       1996    Gasoline  22682     Legend         3.2
3  Acura  Legend 3.2/3.5       1995    Gasoline  20648     Legend         3.2
4  Acura  Legend 3.2/3.5       1994    Gasoline  18343     Legend         3.2

#### Outra variavel que pode influenciar no preço do carro é se ele é automático , semi-automatico ou mecânico

In [14]:
# Criando uma Coluna somente com valor " Mec "
data['Cambio'] = 'Mec'
data.head()

   Marca           Carro Ano_Modelo  ... Nome_Carro Cilindradas Cambio
0  Acura  Legend 3.2/3.5       1998  ...     Legend         3.2    Mec
1  Acura  Legend 3.2/3.5       1997  ...     Legend         3.2    Mec
2  Acura  Legend 3.2/3.5       1996  ...     Legend         3.2    Mec
3  Acura  Legend 3.2/3.5       1995  ...     Legend         3.2    Mec
4  Acura  Legend 3.2/3.5       1994  ...     Legend         3.2    Mec

[5 rows x 8 columns]

In [15]:
# Filtrar todas as linhas que contenham o padrão "Aut." e substituir na coluna Cambio por " Aut "
data.loc[(data['Carro'].str.contains(" Aut\\.", regex=True)), "Cambio"] = "Aut"

# Filtrar todas as linhas que contenham o padrão " Semi-Aut." e substituir na coluna Cambio por " Semi-Aut "
data.loc[(data['Carro'].str.contains(" Semi-Aut\\.", regex=True)), "Cambio"] = "Semi-Aut"

# Visualizando a quantidade de carros com cambio automatico, semi-automatio e mecânico
data.Cambio.value_counts()

Mec         18018
Aut          3758
Semi-Aut       21
Name: Cambio, dtype: int64

#### Por ultimo vou visualizar os tipos de dados e se necessario irei conveter para o tipo correto, checar se existe valores ausentes e remover a coluna carro , pois não preciso mais dela!

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21797 entries, 0 to 21796
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Marca        21797 non-null  object
 1   Carro        21797 non-null  object
 2   Ano_Modelo   21797 non-null  object
 3   Combustivel  21797 non-null  object
 4   Preco        21797 non-null  object
 5   Nome_Carro   21797 non-null  object
 6   Cilindradas  19569 non-null  object
 7   Cambio       21797 non-null  object
dtypes: object(8)
memory usage: 1.3+ MB

#### Olhando as informações acima vejo que a coluna Preço precisa ser transformada para o tipo numerico e a coluna Cilindradas contem valores ausentes

In [17]:
# Convertendo a coluna Preco de object para int64
data['Preco'] = pd.to_numeric(data['Preco'], errors='coerce')

# Conferindo o resultado
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21797 entries, 0 to 21796
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Marca        21797 non-null  object
 1   Carro        21797 non-null  object
 2   Ano_Modelo   21797 non-null  object
 3   Combustivel  21797 non-null  object
 4   Preco        21797 non-null  int64
 5   Nome_Carro   21797 non-null  object
 6   Cilindradas  19569 non-null  object
 7   Cambio       21797 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.3+ MB

In [18]:
# Armmazenando o total de registros do dataframe na variavel " data_total"
data_total = len(data)

# Armmazenando o total de registros da na coluna Cilindradas na variavel  " data_cilindradas_total "
data_cilindradas_total = len(data.Cilindradas) - (data.Cilindradas.isnull().sum())

# Calculando a diferença de " data_total e data_cilindradas_total "
diff = data_total - data_cilindradas_total

# Calculando a porcentagem de valores ausentes na coluna " Cilindradas "
porcentagem = (diff / data_total)*100

# Imprimindo a porcentagem de valores ausentes na coluna " Cilindradas "
print('Porcentagem de valores ausentes na coluna Cilindradas: {:.0f}%'.format(porcentagem.round(0)))

Porcentagem de valores ausentes na coluna Cilindradas: 10%

#### Após verificar numero de valores ausentes na coluna Cilindradas cheguei ao valor de 10% , que é um valor a se considerar na vida real, como opção teria que verificar porque os valores não estão disponiveis na tabela , ou até mesmo tentar obter esses valores usando algum meio de coleta de dados, mais como o objetivo desta EDA é didadtico vou optar por excluir os valores ausentes.

In [19]:
# Excluindo as linhas que contenham valores ausentes
data.dropna(axis= 0, inplace= True)

# Visualizando novo numero de linhas e colunas
data.shape

(19569, 8)

In [20]:
# Excluindo a coluna Carro
data.drop('Carro', axis= 1, inplace=True)

# Visualizando o resultado
data.head()

   Marca Ano_Modelo Combustivel  Preco Nome_Carro Cilindradas Cambio
0  Acura       1998    Gasoline  27942     Legend         3.2    Mec
1  Acura       1997    Gasoline  23392     Legend         3.2    Mec
2  Acura       1996    Gasoline  22682     Legend         3.2    Mec
3  Acura       1995    Gasoline  20648     Legend         3.2    Mec
4  Acura       1994    Gasoline  18343     Legend         3.2    Mec

![alt text](https://media.giphy.com/media/YTbZzCkRQCEJa/giphy.gif)

Finalmente alcancei meus objetivos !