<img src='medicamento.jpg' />

<h1>Predicting Medicines</h1>

In this case study I will discuss how to use Data Science to predict which drug would be best for a given patient.<br>
Let's imagine that a group of doctors is interested in prescribing the medication most appropriate to the type of patient, and for that they decided to use Data science to help them in this task.<br>
After understanding the business problem I decided to use a decision tree model to help me predict the medicine, because this type of problem is of classification and multiclass for 4 more types of medicine.

In [492]:
# Importing libraries
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.externals.six import StringIO
import pydotplus
import matplotlib.image as mpimg
from sklearn import tree
%matplotlib inline

For case study I will use the data from the course I took at couesera.
course link: https: //www.coursera.org/learn/machine-learning-with-python/home/welcome

In [493]:
data = pd.read_csv('drug200.csv')
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

<h1>Basic statistics</h1>

In [494]:
data.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

Through basic statistics we can see that the minimum age of patients is 15 years old, the maximum age is 74 years and the average age is 44 years.
The variable "Na_to_k" refers to the sodium value divided by the potassium value, it is a variable that has a certain influence on the forecast of the medicine, defined by the group of doctors.

<h1>Check the number of classes of categorical attributes and Missing Values</h1>

In [495]:
print('Variable Sex')
print(data.Sex.value_counts())
print('=='*70)
print('Blood Pressure',"BP")
print(data.BP.value_counts())
print('=='*70)
print('Cholesterol')
print(data.Cholesterol.value_counts())
print('=='*70)
print('Drug')
print(data.Drug.value_counts())
print('=='*70)
print('Missing Values')
print(data.isnull().sum())

Variable Sex
M    104
F     96
Name: Sex, dtype: int64
============================================================================================================================================
Blood Pressure BP
HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64
============================================================================================================================================
Cholesterol
HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64
============================================================================================================================================
Drug
drugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64
============================================================================================================================================
Missing Values
Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

I found a balance in almost all features, except in the target variable that has fewer samples in drug types A, B and C, and also that there are no missing values in this data set

<div href="pre-processing">
    <h2>Pre-processing</h2>
</div>

Now I will make the selection of the predictive features

In [496]:
X = data[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].values
X[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.113999999999999],
       [28, 'F', 'NORMAL', 'HIGH', 7.797999999999999],
       [61, 'F', 'LOW', 'HIGH', 18.043]], dtype=object)

Machine Learning algorithms need the input data to be numeric values, so I will convert the categorical variables into numeric variables

In [497]:
le_sex = preprocessing.LabelEncoder()
le_sex.fit(['F','M'])
X[:,1] = le_sex.transform(X[:,1]) 


le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'LOW', 'NORMAL', 'HIGH'])
X[:,2] = le_BP.transform(X[:,2])


le_Chol = preprocessing.LabelEncoder()
le_Chol.fit([ 'NORMAL', 'HIGH'])
X[:,3] = le_Chol.transform(X[:,3]) 

X[0:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.113999999999999],
       [28, 0, 2, 0, 7.797999999999999],
       [61, 0, 1, 0, 18.043]], dtype=object)

In [498]:
# Creating target variable
y = data["Drug"]
y[0:5]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

splitting dataset in train and test

In [499]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3, random_state=3)

Now I'm going to create a decision tree model to be able to predict medications according to the patient's characteristics and train this model using data from patients who have already used the medications, the model will classify the medication according to the patient's similar characteristics.

In [500]:
clf = DecisionTreeClassifier(criterion="entropy",splitter='best',min_samples_split = 2
                             , max_depth = 4, max_features='log2',random_state=42,min_impurity_decrease = 0.01)
clf.fit(Xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features='log2', max_leaf_nodes=None,
                       min_impurity_decrease=0.01, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

As a model creating and trained I will make some predictions and compare with the historical data of this data set.

In [501]:
yhat= clf.predict(Xtest)
print (yhat [0:5])
print (ytest [0:5])

['drugY' 'drugX' 'drugB' 'drugX' 'drugA']
40     drugY
51     drugX
139    drugX
197    drugX
170    drugX
Name: Drug, dtype: object

After viewing the comparison of predicted values and real values, the model got all five records analyzed correctly, to better evaluate the model I will use appropriate metrics that the sklearn libraries provide.

<div id="evaluation">
    <h2>Evaluation</h2>
    
</div>

In [502]:
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(ytest, yhat))

DecisionTrees's Accuracy:  0.7833333333333333

As the comparison already made above the model is very good 98% accuracy

<hr>

<div id="visualization">
    <h2>Visualization</h2>
    Lets visualize the tree
</div>

In [503]:
clf.score(Xtrain, ytrain)

0.8071428571428572

In [504]:
clf.score(Xtest,ytest)

0.7833333333333333